# 1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [1]:
import datetime

x = datetime.datetime.now()

print(x)

2022-08-16 16:35:14.153726

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [2]:
def circle_area(rad):
    import math

    p=float(math.pi)
    area=p*(rad*rad)
    return area


print(circle_area(6))

113.09733552923255

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [3]:
def list_num(list_n):
    list_ofunique=[]
    unique=set(list_n)
    for i in unique:
        list_ofunique.append(i)
    return list_ofunique
x=[1,2,4,5,1,2,6,4,8,9]
print(list_num(x))

[1, 2, 4, 5, 6, 8, 9]

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [4]:
import math
path_of_file='data/lil-wayne.txt'
file_handle=open(path_of_file,'r')
data=file_handle.read()
data_upper=data.upper()

file_handle.close()



count_fre = {}
  
for i in data_upper:
    count_fre[i] = count_fre.get(i, 0) + 1
print(count_fre)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [5]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]

removed=list1.pop(list1[3])
last=list1[-1]
new=removed*last
list1.append(new)
list1

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [1]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list =[]
for i in original_list:
    if i%3==0:
        new_list.append(i)
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [7]:
original_list = [2, 3, 6, 8, 9,15, 19, 21]

original_list.reverse()
print(original_list)

[21, 19, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [16]:
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list=[]

for i in original_list:
    p=i**2
    new_list.append(p)
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [13]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [2]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']
while ("" in list_of_strings):
    list_of_strings.remove('')
print(str(list_of_strings))

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [1]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}
if 999 in sample_dict.values():
    print("true")
else:
    print("false")

true

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [5]:
import pandas as pd
df=pd.read_csv(filepath_or_buffer='data/titanic.csv')
print(df.head())

   passengerid  survived  pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                name     sex   age  sibsp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   parch            ticket     fare cabin embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [7]:
df['age'].mean()

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [9]:
print(df['age'].min())
print(df['age'].max())

0.42
80.0

## How many people embarked from station 'S'?

In [10]:
df["embarked"].apply(lambda x: len(str(x).split(' ')))

0      1
1      1
2      1
3      1
4      1
      ..
886    1
887    1
888    1
889    1
890    1
Name: embarked, Length: 891, dtype: int64