# Classes aka Objects

Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by its class) for modifying its state.

* All classes have a function called `__init__()`, which is always executed when the class is being initiated.

* Objects can also contain methods. Methods in objects are functions that belong to the object.

* The `self` parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

In [4]:
class Dog:

    # You must have the __init__ function
    def __init__(self, name, age):
        # class variables
        self.name = name
        self.age = age

    # Instance method
    def description(self):
        return self.name + ' is ' + str(self.age) + ' years old.'

    # Another instance method
    def speak(self, sound):
        return self.name + ' says ' + sound


# create a Dog object
my_dog = Dog(age=9, name='Weezy')


# call the objects description method
my_dog.description()

# call the objects speak method
my_dog.speak(sound='woof')

'Weezy says woof'

# How would we make a new Human class that has their name, age, and home address?

# How would you give it a function to grow older by 5 years?

# Reading in files.

In [7]:
# Define the path to the file you want to read.
path_to_file = 'data/lil-wayne.txt'

file_handle = open(path_to_file, 'r')

data = file_handle.read()

file_handle.close()

# Writing files

In [8]:
# Create a new file name
my_new_file = 'data/my_new_file.txt'


# Open that new file
file_object = open(my_new_file, 'w')


# Create some text to give the file.
my_text = 'There are two trillion GALAXIES in the universe.  Each galaxy has approx 100 billion stars.'


# Write the text to the file.
file_object.write(my_text)


# Close the file. 
file_object.close()

# Reading Errors in Python

This traceback output has all of the information youâ€™ll need to diagnose the issue. 

The final line of the traceback output tells you what type of exception was raised along with some relevant information about that exception. 

The previous lines of the traceback point out the code that resulted in the exception being raised.

In [52]:
def greet(someone):
    print('Hello, ' + someone)

greet('Beyonce')

Hello, Beyonce

In [53]:
incorrect_file_path = 'data/not-a-real-file.txt'
fh = open(incorrect_file_path, 'r')

FileNotFoundError: [Errno 2] No such file or directory: 'data/not-a-real-file.txt'

# Googling Errors

In the above error. You would want to google just the first part, `FileNotFoundError: [Errno 2] No such file or directory:'.`  You would want to exclude the `'data/not-a-real-file.txt'`part.  

Why do you think that is?

# Libraries aka Packages
* [Internal Packages aka Libraries that come with Python](https://docs.python.org/3/library/)
* [Libraries that come with Anaconda](https://docs.anaconda.com/anaconda/packages/py3.8_osx-64/)
* There are many other external libraries that you need to install via pip. 


It is python convention (aka best practice) to import your libraries at the beginning of your python file (so at the very top).

In [56]:
import math

In [58]:
print(math.factorial(10))
print(math.sqrt(100))

3628800
10.0

# Reading documentation

* pandas read_csv documentation https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [9]:
import pandas as pd

In [12]:
df = pd.read_csv(filepath_or_buffer='data/titanic.csv')

print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [11]:
df = pd.read_csv(filepath_or_buffer='data/titanic.csv', sep=',')
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# How to search around for answers.

![Figuring out stuff on your own](https://memegenerator.net/img/instances/85197145.jpg)

# What if we wanted to change the column named `embarked` to the name `location`?